

.profile-wrapper {
  flex: 1;
  background: white;
  border-radius: 8px;
  margin: 16px;
  color: #666;
  padding: 16px;
}

.profile-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-pic {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 1px solid #dddddd;
  margin: 16px;
}

.profile-repo-link {
  color: teal;
  text-decoration: none;
}

.profile-repo-link:hover {
  color: #004e4e;
  text-decoration: underline;
}

.profiles {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #666;
  margin-bottom: 32px;
}

@media (min-width: 800px) {
  .profiles {
    /* write css code to here make the profiles in a single row */
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .profiles {
    width: 75%;
  }
}
